/* ===== BLOG SECTION ===== */
.blog-section {
    overflow: hidden;
    padding-top: var(--padding-box-xl);
    padding-bottom: var(--padding-box-xl);
}

.blog-heading {
    text-align: center;
}

.blog-heading p {
    max-width: 712px;
}

.blog-filter {
    display: flex;
    gap: var(--gap-sm-4);
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 8px;
    background-color: var(--primary-50);
    border-radius: var(--radius-small-box-3);
}

.blog-filter-item {
    white-space: nowrap;
    height: 36px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-box-small-3);
    padding-right: var(--padding-box-small-3);
    border-radius: var(--radius-small-box-3);
    background-color: var(--primary-50);
    transition: all 0.3s ease;
}

.blog-filter-item:hover {
    background-color: var(--surface-white);
}

.blog-filter-item.active {
    background-color: var(--surface-white);
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 767.98px) {
    .gallery-section {
        padding-top: var(--padding-mobile-box-xl);
        padding-bottom: var(--padding-mobile-box-xl);
    }

    .gallery-filter {
        gap: var(--gap-mobile-sm);
        border-radius: var(--radius-mobile-small-box-3);
    }

    .gallery-filter-item {
        padding-left: var(--padding-mobile-box-small-3);
        padding-right: var(--padding-mobile-box-small-3);
        border-radius: var(--radius-mobile-small-box-3);
    }

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--gap-mobile-sm);
    }
}